@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';

@layer base {
  font-face {
    font-family: 'Nib Pro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/nibPro-bold.woff2);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-primary: #1e85a2;
  --color-secondary: #ffffff;
  --color-transparent: 'transparent';
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Instrument Sans', sans-serif;
  line-height: 1.5;
  color: #5a5a5a;
}
h1,
h2,
h3 {
  color: #000000;
}

h1,
h2 {
  font-family: 'Nib Pro';
  font-weight: 600;
}

h1 {
  font-size: 2.65rem;
  line-height: 1.19;
}

h2 {
  font-size: 2.15rem;
  line-height: 1;
}

h3 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.55;
  font-weight: 600;
}
