@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Nib Pro";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/nibPro-bold.woff2);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Instrument Sans", sans-serif;
}

h1,
h2 {
  font-family: "Nib Pro";
}
