@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-primary: #1e85a2;
  --color-secondary: #ffffff;
  --color-transparent: 'transparent';
}

body {
  color: var(--foreground);
  background: var(--background);
}

.main-body {
  line-height: 1.5;
  color: #5a5a5a;
  font-size: 1.25rem;
  font-family: var(--font-instrument-sans);
}

h1,
h2,
h3 {
  color: #000000;
}

h1,
h2 {
  font-family: var(--font-nib-pro-bold);
  font-weight: 600;
  @apply font-medium md:font-bold;
}

h1 {
  font-size: 1.75rem;
  line-height: 1.19;
  @apply md:text-5xl;
}

h2 {
  font-size: 1.5rem;
  line-height: 1;
  @apply font-medium md:font-bold;
  @apply md:text-4xl;
}

h3 {
  font-family: var(--font-instrument-sans);
  font-size: 1.125rem;
  line-height: 1.55;
  font-weight: 600;
}
