.accordionItemTitle {
  text-align: start;
}

.accordionIcon {
  border: solid currentcolor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  min-height: 8px;
  transform: translateY(-2px) rotate(45deg);
  min-width: 8px;
}

.accordionIconRotated {
  transform: translateY(2px) rotate(-135deg);
}
