
.before, .after{
	display: inline-block;
	width: 1px;
	height: 1px;
}

.before-icon{
	position: absolute;
	top: -48px;
	left: -30px;

}

.after-icon{
	position: absolute;
	bottom: -30px;
	left: -14px;
}
